.hero {
  padding-top: 30px;
  padding-bottom: 40px;
  // .hero__container

  &__container {
    @include flex-all-sb;

    align-items: center;

  }

  // .hero__content

  &__content {
    max-width: 635px;
  }

  // .hero__title

  &__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 14px;

    span {
      font-weight: 500;
      font-style: italic;
    }
  }

  // .hero__text

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 45px;
  }

  // .hero__btn

  &__btn {
    @include light-btn {
      width: 245px;
      height: 70px;
    }
  }

  // .hero__img

  &__img {
    @include small-tablet {
      display: none;
    }
  }
}

