<section class="about" id="about">
  <div class="container about__container">
    <div class="about__container-text">
      <h2 class="about__title">О нас</h2>
      <p class="about__subtitle">Приём-приём! Как слышно? Мы уже в эфире? Отлично, поехали!</p>
      <p class="about__text">
        Друзья, мы будем очень рады, если вы поможете стать нам лучше. Нам важен каждый слушатель, поэтому вы можете поделиться обратной связью о наших предеачах, темах, подборках и вообще обо всём! Это можно сделать либо написав нам в форме ниже, либо кликнув на наши соцсети в подвале сайта. Спасибо! Услышимся!:)
      </p>
    </div>
    <div class="about__container-carusel">
      <div class="swiper about__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="about-card">
              <div class="about-card__img">
                <picture>
                  <source srcset="img/about-1.webp" type="image/webp">
                  <img loading="lazy" src="img/about-1.jpg" class="image" width="255" height="255" alt="изображение номер 1">
                </picture>
              </div>
              <p class="about-card__title">Дмитрий Гутенберг</p>
              <p class="about-card__text">Эксперт (ну, почти) по всем вопросам (почти)</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about-card">
              <div class="about-card__img">
                <picture>
                  <source srcset="img/about-2.webp" type="image/webp">
                  <img loading="lazy" src="img/about-2.jpg" class="image" width="255" height="255" alt="изображение номер 2">
                </picture>
              </div>
              <p class="about-card__title">Анна Васильева</p>
              <p class="about-card__text">Как я здесь оказалась? А главное — зачем?</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about-card">
              <div class="about-card__img">
                <picture>
                  <source srcset="img/about-3.webp" type="image/webp">
                  <img loading="lazy" src="img/about-3.jpg" class="image" width="255" height="255" alt="изображение номер 3">
                </picture>
              </div>
              <p class="about-card__title">Пётр Дмитриевский</p>
              <p class="about-card__text">Господа! Внимание! Благодарю за внимание!</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about-card">
              <div class="about-card__img">
                <picture>
                  <source srcset="img/about-4.webp" type="image/webp">
                  <img loading="lazy" src="img/about-4.jpg" class="image" width="255" height="255" alt="изображение номер 4">
                </picture>
              </div>
              <p class="about-card__title">Татьяна Флеганова</p>
              <p class="about-card__text">Одна я в пальто стою красивая, а вокруг…</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about-card">
              <div class="about-card__img">
                <picture>
                  <source srcset="img/about-5.webp" type="image/webp">
                  <img loading="lazy" src="img/about-5.jpg" class="image" width="255" height="255" alt="изображение номер 5">
                </picture>
              </div>
              <p class="about-card__title">Фёдор Прокопьев</p>
              <p class="about-card__text">Привет! Я фотограф, музыкант, ведущий</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about-card">
              <div class="about-card__img">
                <picture>
                  <source srcset="img/about-6.webp" type="image/webp">
                  <img loading="lazy" src="img/about-6.jpg" class="image" width="255" height="255" alt="изображение номер 6">
                </picture>
              </div>
              <p class="about-card__title">Светлана Кортнева</p>
              <p class="about-card__text">Художник-оформитель. Оформляю</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev about__swiper-btn-prev"></div>
      <div class="swiper-button-next about__swiper-btn-next"></div>
    </div>
    <form action="#" class="about-form about__container-form">
      <label class="about-form__lable about-form__lable-textarea">
        <textarea name="comment" class="about-form__textarea" placeholder="Что скажете?"></textarea>
      </label>
      <label class="about-form__lable about-form__lable-name">
        <input type="text" name="Имя" class="input-reset about-form__input" placeholder="Имя">
      </label>
      <label class="about-form__lable about-form__lable-email">
        <input type="text" name="Email" class="input-reset about-form__input" placeholder="Email">
      </label>
      <button class="btn-reset about-form__btn">Отправить</button>
      <label class="about-form__custom-checkbox">
        <input type="checkbox" class="about-form__custom-checkbox-field">
        <span class="about-form__custom-checkbox-content">Согласен на обработку персональных данных</span>
      </label>
    </form>
  </div>
</section>
