<footer class="footer">
  <div class="container footer__container">
    <div class="footer__container-left">
      <div class="footer__logo">
        <img loading="lazy" src="img/logo-footer.svg" class="image" width="160" height="20" alt="логотип в нижней части сайта">
      </div>
      <ul class="list-reset footer__social-list social-media-list">
        <li class="social-media-list__item">
          <a href="#" class="social-media-list__link">
            <svg class="svg">
              <use xlink:href="img/sprite.svg#yt"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-list__item">
          <a href="#" class="social-media-list__link">
            <svg class="svg">
              <use xlink:href="img/sprite.svg#fb"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-list__item">
          <a href="#" class="social-media-list__link">
            <svg class="svg">
              <use xlink:href="img/sprite.svg#in"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <ul class="list-reset footer__list footer__container-right">
      <li class="footer__list-item"><a href="#" class="footer__list-link">Подкасты</a></li>
      <li class="footer__list-item"><a href="#" class="footer__list-link">Передачи</a></li>
      <li class="footer__list-item"><a href="#" class="footer__list-link">Гости</a></li>
      <li class="footer__list-item"><a href="#" class="footer__list-link">Плейлисты</a></li>
      <li class="footer__list-item"><a href="#" class="footer__list-link">Сетка</a></li>
      <li class="footer__list-item"><a href="#" class="footer__list-link">О нас</a></li>
      <li class="footer__list-item"><a href="#" class="footer__list-link">Новости</a></li>
      <li class="footer__list-item"><a href="#" class="footer__list-link">Блоги</a></li>
      <li class="footer__list-item"><a href="#" class="footer__list-link">Топы</a></li>
    </ul>
  </div>
  <span class="footer__wave"></span>
  <p class="footer__year">W-WAVE ® 2021</p>
</footer>
