<section id="guests" class="guests">
  <div class="container guests__container">
    <h2 class="guests__title">Гости</h2>
    <p class="guests__subtitle">У нас бывают:</p>
    <p class="guests__text">
      Блогеры, арт-критики и деятели искусства, музыканты, молодые учёные и люди науки, историки, филологи и много других интересных гостей!
    </p>
    <div class="tabs guests__content" data-tabs="guestsTabs">
      <div class="tabs__nav guests__left">
        <div class="guests-accordion">
          <button type="button" class="btn-reset guests-accordion__name opened">
            <span class="guests-accordion__name-text">Блогеры</span>
            <span class="guests-accordion__name-controller">
              <svg class="svg">
                <use xlink:href="img/sprite.svg#controller"></use>
              </svg>
            </span>
          </button>
          <div class="guests-accordion__content">
            <div class="tabs__nav-item"><button class="btn-reset tabs__nav-btn guests-accordion__content-elements" type="button">Ольга Мартынова</button></div>
            <div class="tabs__nav-item"><button class="btn-reset tabs__nav-btn guests-accordion__content-elements" type="button">Сергей Денисов</button></div>
            <div class="tabs__nav-item"><button class="btn-reset tabs__nav-btn guests-accordion__content-elements" type="button">Матвей Мечников</button></div>
            <div class="tabs__nav-item"><button class="btn-reset tabs__nav-btn guests-accordion__content-elements" type="button">Константин Прусино</button></div>
            <div class="tabs__nav-item"><button class="btn-reset tabs__nav-btn guests-accordion__content-elements" type="button">Иван Калитников</button></div>
            <div class="tabs__nav-item"><button class="btn-reset tabs__nav-btn guests-accordion__content-elements" type="button">Евгений Войновский</button></div>
            <div class="tabs__nav-item"><button class="btn-reset tabs__nav-btn guests-accordion__content-elements" type="button">Дмитрий Михалок</button></div>
            <div class="tabs__nav-item"><button class="btn-reset tabs__nav-btn guests-accordion__content-elements" type="button">Пётр Пиотровский</button></div>
            <div class="tabs__nav-item"><button class="btn-reset tabs__nav-btn guests-accordion__content-elements" type="button">Олег Свиридовский</button></div>
            <div class="tabs__nav-item"><button class="btn-reset tabs__nav-btn guests-accordion__content-elements" type="button">Владислав Кауперс</button></div>
            <div class="tabs__nav-item"><button class="btn-reset tabs__nav-btn guests-accordion__content-elements" type="button">Михаил Пожитников</button></div>
            <div class="tabs__nav-item"><button class="btn-reset tabs__nav-btn guests-accordion__content-elements" type="button">Георгий Полуян</button></div>
            <div class="tabs__nav-item"><button class="btn-reset tabs__nav-btn guests-accordion__content-elements" type="button">Денис Тельман</button></div>
            <div class="tabs__nav-item"><button class="btn-reset tabs__nav-btn guests-accordion__content-elements" type="button">Юрий Горин</button></div>
            <div class="tabs__nav-item"><button class="btn-reset tabs__nav-btn guests-accordion__content-elements" type="button">Максим Сергеев</button></div>
          </div>
        </div>
        <div class="guests-accordion">
          <button type="button" class="btn-reset guests-accordion__name">
            <span class="guests-accordion__name-text">Арт-критики</span>
            <span class="guests-accordion__name-controller">
              <svg class="svg">
                <use xlink:href="img/sprite.svg#controller"></use>
              </svg>
            </span>
          </button>
          <div class="guests-accordion__content">
            <div class="tabs__nav-item"><button class="btn-reset tabs__nav-btn guests-accordion__content-elements" type="button">Ольга Мартынова</button></div>
          </div>
        </div>
        <div class="guests-accordion">
          <button type="button" class="btn-reset guests-accordion__name">
            <span class="guests-accordion__name-text">Художники</span>
            <span class="guests-accordion__name-controller">
              <svg class="svg">
                <use xlink:href="img/sprite.svg#controller"></use>
              </svg>
            </span>
          </button>
          <div class="guests-accordion__content">
            <div class="tabs__nav-item"><button class="btn-reset tabs__nav-btn guests-accordion__content-elements" type="button">Ольга Мартынова</button></div>
          </div>
        </div>
        <div class="guests-accordion">
          <button type="button" class="btn-reset guests-accordion__name">
            <span class="guests-accordion__name-text">Люди науки</span>
            <span class="guests-accordion__name-controller">
              <svg class="svg">
                <use xlink:href="img/sprite.svg#controller"></use>
              </svg>
            </span>
          </button>
          <div class="guests-accordion__content">
            <div class="tabs__nav-item"><button class="btn-reset tabs__nav-btn guests-accordion__content-elements" type="button">Ольга Мартынова</button></div>
          </div>
        </div>
        <div class="guests-accordion">
          <button type="button" class="btn-reset guests-accordion__name">
            <span class="guests-accordion__name-text">Историки</span>
            <span class="guests-accordion__name-controller">
              <svg class="svg">
                <use xlink:href="img/sprite.svg#controller"></use>
              </svg>
            </span>
          </button>
          <div class="guests-accordion__content">
            <div class="tabs__nav-item"><button class="btn-reset tabs__nav-btn guests-accordion__content-elements" type="button">Ольга Мартынова</button></div>
          </div>
        </div>
        <div class="guests-accordion">
          <button type="button" class="btn-reset guests-accordion__name">
            <span class="guests-accordion__name-text">Филологи</span>
            <span class="guests-accordion__name-controller">
              <svg class="svg">
                <use xlink:href="img/sprite.svg#controller"></use>
              </svg>
            </span>
          </button>
          <div class="guests-accordion__content">
            <div class="tabs__nav-item"><button class="btn-reset tabs__nav-btn guests-accordion__content-elements" type="button">Ольга Мартынова</button></div>
          </div>
        </div>
      </div>

      <div class="tabs__content guests__right">
        <div class="tabs__panel">
          <div class="guests__card">
            <div class="guests__card-img">
              <picture>
                <source srcset="img/guest-1.webp" type="image/webp">
                <img loading="lazy" src="img/guest-1.jpg" class="image" width="350" height="220" alt="фото гостя Матвей Мечников">
              </picture>
            </div>
            <ul class="list-reset guests__card-social social-media-list">
              <li class="social-media-list__item">
                <a href="#" class="social-media-list__link">
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#in"></use>
                  </svg>
                </a>
              </li>
              <li class="social-media-list__item">
                <a href="#" class="social-media-list__link">
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#fb"></use>
                  </svg>
                </a>
              </li>
              <li class="social-media-list__item">
                <a href="#" class="social-media-list__link">
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#tw"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <p class="guests__card-name">Ольга Мартынова</p>
            <p class="guests__card-desk">
              Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как куратор музея «Гараж», коим является с 2016 года.
            </p>
            <button class="btn-reset guests__card-btn">Эфиры с гостем</button>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="guests__card-empty">
            Тут будет фото гостя
          </div>
        </div>
        <div class="tabs__panel">
          <div class="guests__card">
            <div class="guests__card-img">
              <picture>
                <source srcset="img/guest-1.webp" type="image/webp">
                <img loading="lazy" src="img/guest-1.jpg" class="image" width="350" height="220" alt="фото гостя Матвей Мечников">
              </picture>
            </div>
            <ul class="list-reset guests__card-social social-media-list">
              <li class="social-media-list__item">
                <a href="#" class="social-media-list__link">
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#in"></use>
                  </svg>
                </a>
              </li>
              <li class="social-media-list__item">
                <a href="#" class="social-media-list__link">
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#fb"></use>
                  </svg>
                </a>
              </li>
              <li class="social-media-list__item">
                <a href="#" class="social-media-list__link">
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#tw"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <p class="guests__card-name">Матвей Мечников</p>
            <p class="guests__card-desk">
              Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как куратор музея «Гараж», коим является с 2016 года.
            </p>
            <button class="btn-reset guests__card-btn">Эфиры с гостем</button>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="guests__card">
            <div class="guests__card-img">
              <picture>
                <source srcset="img/guest-1.webp" type="image/webp">
                <img loading="lazy" src="img/guest-1.jpg" class="image" width="350" height="220" alt="фото гостя Матвей Мечников">
              </picture>
            </div>
            <ul class="list-reset guests__card-social social-media-list">
              <li class="social-media-list__item">
                <a href="#" class="social-media-list__link">
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#in"></use>
                  </svg>
                </a>
              </li>
              <li class="social-media-list__item">
                <a href="#" class="social-media-list__link">
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#fb"></use>
                  </svg>
                </a>
              </li>
              <li class="social-media-list__item">
                <a href="#" class="social-media-list__link">
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#tw"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <p class="guests__card-name">Константин Прусино</p>
            <p class="guests__card-desk">
              Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как куратор музея «Гараж», коим является с 2016 года.
            </p>
            <button class="btn-reset guests__card-btn">Эфиры с гостем</button>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="guests__card-empty">
            Тут будет фото гостя
          </div>
        </div>
        <div class="tabs__panel">
          <div class="guests__card-empty">
            Тут будет фото гостя
          </div>
        </div>
        <div class="tabs__panel">
          <div class="guests__card-empty">
            Тут будет фото гостя
          </div>
        </div>
        <div class="tabs__panel">
          <div class="guests__card-empty">
            Тут будет фото гостя
          </div>
        </div>
        <div class="tabs__panel">
          <div class="guests__card-empty">
            Тут будет фото гостя
          </div>
        </div>
        <div class="tabs__panel">
          <div class="guests__card-empty">
            Тут будет фото гостя
          </div>
        </div>
        <div class="tabs__panel">
          <div class="guests__card-empty">
            Тут будет фото гостя
          </div>
        </div>
        <div class="tabs__panel">
          <div class="guests__card-empty">
            Тут будет фото гостя
          </div>
        </div>
        <div class="tabs__panel">
          <div class="guests__card-empty">
            Тут будет фото гостя
          </div>
        </div>
        <div class="tabs__panel">
          <div class="guests__card-empty">
            Тут будет фото гостя
          </div>
        </div>
        <div class="tabs__panel">
          <div class="guests__card-empty">
            Тут будет фото гостя
          </div>
        </div>
        <div class="tabs__panel">
          <div class="guests__card">
            <div class="guests__card-img">
              <picture>
                <source srcset="img/guest-1.webp" type="image/webp">
                <img loading="lazy" src="img/guest-1.jpg" class="image" width="350" height="220" alt="фото гостя Матвей Мечников">
              </picture>
            </div>
            <ul class="list-reset guests__card-social social-media-list">
              <li class="social-media-list__item">
                <a href="#" class="social-media-list__link">
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#in"></use>
                  </svg>
                </a>
              </li>
              <li class="social-media-list__item">
                <a href="#" class="social-media-list__link">
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#fb"></use>
                  </svg>
                </a>
              </li>
              <li class="social-media-list__item">
                <a href="#" class="social-media-list__link">
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#tw"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <p class="guests__card-name">Ольга Мартынова</p>
            <p class="guests__card-desk">
              Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как куратор музея «Гараж», коим является с 2016 года.
            </p>
            <button class="btn-reset guests__card-btn">Эфиры с гостем</button>
          </div>
        </div>
        <div class="tabs__panel">
          <div class="guests__card-empty">
            Тут будет фото гостя
          </div>
        </div>
        <div class="tabs__panel">
          <div class="guests__card-empty">
            Тут будет фото гостя
          </div>
        </div>
        <div class="tabs__panel">
          <div class="guests__card-empty">
            Тут будет фото гостя
          </div>
        </div>
        <div class="tabs__panel">
          <div class="guests__card-empty">
            Тут будет фото гостя
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
