<header class="header">
  <nav class="container header__container" title="главная навигация сайта">
    <div class="header__top top-header">
      <div class="header__logo top-header__logo">
        <img loading="lazy" src="img/logo.svg" class="image" width="160" height="20" alt="логотип сайта">
      </div>
      <button class="burger top-header__burger btn-reset" aria-label="Открыть меню" aria-expanded="false"  data-burger>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </button>
      <button class="burger__close btn-reset top-header__burger-close"></button>
      <ul class="list-reset top-header__list">
        <li class="top-header__list-item">
          <a href="#podcasts" class="top-header__list-link">Подкасты</a>
        </li>
        <li class="top-header__list-item">
          <a href="#shows" class="top-header__list-link">Передачи</a>
        </li>
        <li class="top-header__list-item">
          <a href="#guests" class="top-header__list-link">Гости</a>
        </li>
        <li class="top-header__list-item">
          <a href="#playlists" class="top-header__list-link">Плейлисты</a>
        </li>
        <li class="top-header__list-item">
          <a href="#about" class="top-header__list-link">О нас</a>
        </li>
      </ul>
      <div class="top-header__btn-group">
        <div class="top-header__search">
          <button class="btn-reset top-header__search-btn" title="поиск">
            <svg class="svg">
              <use xlink:href="img/sprite.svg#search"></use>
            </svg>
          </button>
        </div>
        <button class="btn-reset top-header__login-btn">Вход</button>
      </div>
    </div>
    <div class="header__bottom bottom-header">
      <ul class="list-reset bottom-header__list-navigation">
        <li class="bottom-header__list-navigation-item">
          <a href="#" class="bottom-header__list-navigation-link">Новости</a>
        </li>
        <li class="bottom-header__list-navigation-item">
          <a href="#" class="bottom-header__list-navigation-link">Блоги</a>
        </li>
        <li class="bottom-header__list-navigation-item">
          <a href="#" class="bottom-header__list-navigation-link">Топы</a>
        </li>
        <li class="bottom-header__list-navigation-item">
          <a href="#" class="bottom-header__list-navigation-link">Опросы</a>
        </li>
        <li class="bottom-header__list-navigation-item">
          <a href="#" class="bottom-header__list-navigation-link">Рейтинги</a>
        </li>
        <li class="bottom-header__list-navigation-item">
          <a href="#" class="bottom-header__list-navigation-link">Реклама</a>
        </li>
      </ul>
      <ul class="list-reset bottom-header__list-onair">
        <li class="bottom-header__list-onair-item">
          <button class="btn-reset bottom-header__list-onair-btn">
            <svg class="svg">
              <use xlink:href="img/sprite.svg#play"></use>
            </svg>
          </button>
          <p class="bottom-header__list-onair-text">
            <span class="bottom-header__list-onair-text-title">Ранее в эфире</span>
            <span class="bottom-header__list-onair-text-subtitle">Музыка</span>
          </p>
        </li>
        <li class="bottom-header__list-onair-item">
          <button class="btn-reset bottom-header__list-onair-btn">
            <svg class="svg">
              <use xlink:href="img/sprite.svg#play"></use>
            </svg>
          </button>
          <p class="bottom-header__list-onair-text">
            <span class="bottom-header__list-onair-text-title">Сейчас в эфире</span>
            <span class="bottom-header__list-onair-text-subtitle">Как так?</span>
          </p>
        </li>
      </ul>
      <div class="bottom-header__age">
        <span class="bottom-header__age-info">12+</span>
      </div>
    </div>
  </nav>
</header>
