<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        Радио <span>W-Wawe</span>
      </h1>
      <p class="hero__text">
        Привет, на связи W-Wawe! Раньше мы были изданием, а теперь пробуем себя в разоворном жанре. Говорим о музыке, политике, истории, науке и культуре. Здесь, помимо прямого эфира — архив передач и многое другое:)
      </p>
      <button class="btn-reset hero__btn">Слушать эфир</button>
    </div>
    <div class="hero__img">
      <picture>
        <source srcset="img/mic.webp" type="image/webp">
        <img loading="lazy" src="img/mic.png" class="image" width="350" height="372" alt="изображение микрофона">
      </picture>
    </div>
  </div>
</section>
