<section id="offer" class="offer">
  <div class="container offer__container">
    <div class="offer__img-block">
      <picture>
        <source srcset="img/radio.webp" type="image/webp">
        <img loading="lazy" src="img/radio.png" class="image" width="640" height="562" alt="изображение радио">
      </picture>
    </div>
    <div class="offer__info-block">
      <p class="offer__title">Будь с нами на одной волне!</p>
      <span class="offer__wave"></span>
      <p class="offer__text">
        Друзья, рады представить вам продукт нашего производства! Да-да, несмотря на то, что мы только начали свой путь радиовещателей, нам хочется, чтобы вы могли как следует нас расслышать:)
      </p>
      <p class="offer__text">
        Итак, встречайте! Портативный радиоприёмник-колонка W-Wave 1.0 xm. Тщательный подбор всех делатей, ручная сборка, качественный звук. Пока доступно только 60 штук в 3 цветах, но мы активно трудимся над новыми партиями и дизайном. Спешите приобрести!
      </p>
      <p class="offer__price">300$</p>
      <button class="btn-reset offer__btn"><span>Купить на Amazon</span></button>
    </div>
  </div>
</section>
