<section class="playlists" id="playlists">
  <div class="container playlists__container-grid">
    <form action="#" class="playlists__container-grid-form">
      <h2 class="playlists__title">Плейлисты</h2>
      <p class="playlists__subtitle">Жанр</p>
      <div class="playlists__group-checkboxes">
        <label class="custom-checkbox">
          <input type="checkbox" class="custom-checkbox__field">
          <span class="custom-checkbox__content">Постпанк</span>
        </label>
        <label class="custom-checkbox">
          <input type="checkbox" class="custom-checkbox__field">
          <span class="custom-checkbox__content">Хардкор</span>
        </label>
        <label class="custom-checkbox">
          <input type="checkbox" class="custom-checkbox__field">
          <span class="custom-checkbox__content">Панк-рок</span>
        </label>
        <label class="custom-checkbox">
          <input type="checkbox" class="custom-checkbox__field">
          <span class="custom-checkbox__content">Рок</span>
        </label>
        <label class="custom-checkbox">
          <input type="checkbox" class="custom-checkbox__field">
          <span class="custom-checkbox__content">Прогрессивный рок</span>
        </label>
        <label class="custom-checkbox">
          <input type="checkbox" class="custom-checkbox__field">
          <span class="custom-checkbox__content">Электронная музыка</span>
        </label>
        <label class="custom-checkbox">
          <input type="checkbox" class="custom-checkbox__field">
          <span class="custom-checkbox__content">Классическая музыка</span>
        </label>
        <label class="custom-checkbox">
          <input type="checkbox" class="custom-checkbox__field">
          <span class="custom-checkbox__content">Звуки природы и шум города</span>
        </label>
      </div>
    </form>
    <div class="playlists__container-grid-block-carts">
      <div class="playlists-card">
        <span class="playlists-card__leng">
          <img loading="lazy" src="img/eng.svg" class="image" width="24" height="12" alt="английский язык">
        </span>
        <div class="playlists-card__img">
          <picture>
            <source srcset="img/playlist-1.webp" type="image/webp">
            <img loading="lazy" src="img/playlist-1.jpg" class="image" width="160" height="160" alt="фото альбома">
          </picture>
        </div>
        <div class="playlists-card__content">
          <p class="playlists-card__title">The Cure</p>
          <p class="playlists-card__subtitle">Лучшее за все время</p>
        </div>
      </div>
      <div class="playlists-card">
        <span class="playlists-card__leng">
          <img loading="lazy" src="img/eng.svg" class="image" width="24" height="12" alt="английский язык">
        </span>
        <div class="playlists-card__img">
          <picture>
            <source srcset="img/playlist-1.webp" type="image/webp">
            <img loading="lazy" src="img/playlist-1.jpg" class="image" width="160" height="160" alt="фото альбома">
          </picture>
        </div>
        <div class="playlists-card__content">
          <p class="playlists-card__title">The Cure</p>
          <p class="playlists-card__subtitle">Лучшее за все время</p>
        </div>
      </div>
      <div class="playlists-card">
        <span class="playlists-card__leng">
          <img loading="lazy" src="img/eng.svg" class="image" width="24" height="12" alt="английский язык">
        </span>
        <div class="playlists-card__img">
          <picture>
            <source srcset="img/playlist-1.webp" type="image/webp">
            <img loading="lazy" src="img/playlist-1.jpg" class="image" width="160" height="160" alt="фото альбома">
          </picture>
        </div>
        <div class="playlists-card__content">
          <p class="playlists-card__title">The Cure</p>
          <p class="playlists-card__subtitle">Лучшее за все время</p>
        </div>
      </div>
      <div class="playlists-card">
        <span class="playlists-card__leng">
          <img loading="lazy" src="img/eng.svg" class="image" width="24" height="12" alt="английский язык">
        </span>
        <div class="playlists-card__img">
          <picture>
            <source srcset="img/playlist-1.webp" type="image/webp">
            <img loading="lazy" src="img/playlist-1.jpg" class="image" width="160" height="160" alt="фото альбома">
          </picture>
        </div>
        <div class="playlists-card__content">
          <p class="playlists-card__title">The Cure</p>
          <p class="playlists-card__subtitle">Лучшее за все время</p>
        </div>
      </div>
      <div class="playlists-card">
        <span class="playlists-card__leng">
          <img loading="lazy" src="img/eng.svg" class="image" width="24" height="12" alt="английский язык">
        </span>
        <div class="playlists-card__img">
          <picture>
            <source srcset="img/playlist-1.webp" type="image/webp">
            <img loading="lazy" src="img/playlist-1.jpg" class="image" width="160" height="160" alt="фото альбома">
          </picture>
        </div>
        <div class="playlists-card__content">
          <p class="playlists-card__title">The Cure</p>
          <p class="playlists-card__subtitle">Лучшее за все время</p>
        </div>
      </div>
      <div class="playlists-card">
        <span class="playlists-card__leng">
          <img loading="lazy" src="img/eng.svg" class="image" width="24" height="12" alt="английский язык">
        </span>
        <div class="playlists-card__img">
          <picture>
            <source srcset="img/playlist-1.webp" type="image/webp">
            <img loading="lazy" src="img/playlist-1.jpg" class="image" width="160" height="160" alt="фото альбома">
          </picture>
        </div>
        <div class="playlists-card__content">
          <p class="playlists-card__title">The Cure</p>
          <p class="playlists-card__subtitle">Лучшее за все время</p>
        </div>
      </div>
      <div class="playlists-card">
        <span class="playlists-card__leng">
          <img loading="lazy" src="img/eng.svg" class="image" width="24" height="12" alt="английский язык">
        </span>
        <div class="playlists-card__img">
          <picture>
            <source srcset="img/playlist-1.webp" type="image/webp">
            <img loading="lazy" src="img/playlist-1.jpg" class="image" width="160" height="160" alt="фото альбома">
          </picture>
        </div>
        <div class="playlists-card__content">
          <p class="playlists-card__title">The Cure</p>
          <p class="playlists-card__subtitle">Лучшее за все время</p>
        </div>
      </div>
      <div class="playlists-card">
        <span class="playlists-card__leng">
          <img loading="lazy" src="img/eng.svg" class="image" width="24" height="12" alt="английский язык">
        </span>
        <div class="playlists-card__img">
          <picture>
            <source srcset="img/playlist-1.webp" type="image/webp">
            <img loading="lazy" src="img/playlist-1.jpg" class="image" width="160" height="160" alt="фото альбома">
          </picture>
        </div>
        <div class="playlists-card__content">
          <p class="playlists-card__title">The Cure</p>
          <p class="playlists-card__subtitle">Лучшее за все время</p>
        </div>
      </div>
      <div class="playlists-card">
        <span class="playlists-card__leng">
          <img loading="lazy" src="img/eng.svg" class="image" width="24" height="12" alt="английский язык">
        </span>
        <div class="playlists-card__img">
          <picture>
            <source srcset="img/playlist-1.webp" type="image/webp">
            <img loading="lazy" src="img/playlist-1.jpg" class="image" width="160" height="160" alt="фото альбома">
          </picture>
        </div>
        <div class="playlists-card__content">
          <p class="playlists-card__title">The Cure</p>
          <p class="playlists-card__subtitle">Лучшее за все время</p>
        </div>
      </div>
      <div class="playlists-card">
        <span class="playlists-card__leng">
          <img loading="lazy" src="img/eng.svg" class="image" width="24" height="12" alt="английский язык">
        </span>
        <div class="playlists-card__img">
          <picture>
            <source srcset="img/playlist-1.webp" type="image/webp">
            <img loading="lazy" src="img/playlist-1.jpg" class="image" width="160" height="160" alt="фото альбома">
          </picture>
        </div>
        <div class="playlists-card__content">
          <p class="playlists-card__title">The Cure</p>
          <p class="playlists-card__subtitle">Лучшее за все время</p>
        </div>
      </div>
      <div class="playlists-card">
        <span class="playlists-card__leng">
          <img loading="lazy" src="img/eng.svg" class="image" width="24" height="12" alt="английский язык">
        </span>
        <div class="playlists-card__img">
          <picture>
            <source srcset="img/playlist-1.webp" type="image/webp">
            <img loading="lazy" src="img/playlist-1.jpg" class="image" width="160" height="160" alt="фото альбома">
          </picture>
        </div>
        <div class="playlists-card__content">
          <p class="playlists-card__title">The Cure</p>
          <p class="playlists-card__subtitle">Лучшее за все время</p>
        </div>
      </div>
    </div>
    <div class="playlists__container-grid-block-atention atention">
      <p class="atention__text">
        Раздел «Плейлисты» может содержать информацию, не предназначенную для несовершеннолетних
      </p>
      <p class="atention__year">
        © 2021 l W-Wave
      </p>
      <p class="atention__age">18+</p>
    </div>
  </div>
</section>
