<section id="podcasts" class="podcasts">
  <div class="container podcasts__container">
    <h2 class="podcasts__title">Подкасты</h2>
    <ul class="list-reset podcasts__grid">
      <li class="podcasts__grid-item podcast-card">
        <span class="podcast-card__date">14 июня</span>
        <div class="podcast-card__img">
          <picture>
            <source srcset="img/pod-1.webp" type="image/webp">
            <img loading="lazy" src="img/pod-1.jpg" class="image" width="112" height="140" alt="фото подкаста 1">
          </picture>
        </div>
        <div class="podcast-card__content">
          <div class="podcast-card__content-top">
            <div class="podcast-card__content-info">
              <p class="podcast-card__content-info-time">15:43</p>
              <p class="podcast-card__content-info-title">Европа. XIX век</p>
              <p class="podcast-card__content-info-actor">Дмитрий Гутенберг</p>
            </div>
            <button class="btn-reset podcast-card__content-btn">
              <svg class="svg">
                <circle cx="24" cy="24" r="20" stroke="#A1A6B4" stroke-width="2"/>
                <path d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z" fill="#A1A6B4"/>
              </svg>
            </button>
          </div>
          <div class="podcast-card__content-bottom">
            <ul class="list-reset podcast-controls__list">
              <li class="podcast-controls__item">
                <button class="btn-reset podcast-controls__btn">
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#play-control"></use>
                  </svg>
                </button>
                <span class="podcast-controls__info">258</span>
              </li>
              <li class="podcast-controls__item">
                <button class="btn-reset podcast-controls__btn">
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#like"></use>
                  </svg>
                </button>
                <span class="podcast-controls__info">104</span>
              </li>
              <li class="podcast-controls__item">
                <button class="btn-reset podcast-controls__btn">
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#share"></use>
                  </svg>
                </button>
                <span class="podcast-controls__info">68</span>
              </li>
            </ul>
          </div>
        </div>
      </li>


      <li class="podcasts__grid-item podcast-card">
        <span class="podcast-card__date">14 июня</span>
        <div class="podcast-card__img">
          <picture>
            <source srcset="img/pod-1.webp" type="image/webp">
            <img loading="lazy" src="img/pod-1.jpg" class="image" width="112" height="140" alt="фото подкаста 1">
          </picture>
        </div>
        <div class="podcast-card__content">
          <div class="podcast-card__content-top">
            <div class="podcast-card__content-info">
              <p class="podcast-card__content-info-time">15:43</p>
              <p class="podcast-card__content-info-title">Европа. XIX век</p>
              <p class="podcast-card__content-info-actor">Дмитрий Гутенберг</p>
            </div>
            <button class="btn-reset podcast-card__content-btn">
              <svg class="svg">
                <circle cx="24" cy="24" r="20" stroke="#A1A6B4" stroke-width="2"/>
                <path d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z" fill="#A1A6B4"/>
              </svg>
            </button>
          </div>
          <div class="podcast-card__content-bottom">
            <ul class="list-reset podcast-controls__list">
              <li class="podcast-controls__item">
                <button class="btn-reset podcast-controls__btn">
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#play-control"></use>
                  </svg>
                </button>
                <span class="podcast-controls__info">258</span>
              </li>
              <li class="podcast-controls__item">
                <button class="btn-reset podcast-controls__btn">
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#like"></use>
                  </svg>
                </button>
                <span class="podcast-controls__info">104</span>
              </li>
              <li class="podcast-controls__item">
                <button class="btn-reset podcast-controls__btn">
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#share"></use>
                  </svg>
                </button>
                <span class="podcast-controls__info">68</span>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="podcasts__grid-item podcast-card">
        <span class="podcast-card__date">14 июня</span>
        <div class="podcast-card__img">
          <picture>
            <source srcset="img/pod-1.webp" type="image/webp">
            <img loading="lazy" src="img/pod-1.jpg" class="image" width="112" height="140" alt="фото подкаста 1">
          </picture>
        </div>
        <div class="podcast-card__content">
          <div class="podcast-card__content-top">
            <div class="podcast-card__content-info">
              <p class="podcast-card__content-info-time">15:43</p>
              <p class="podcast-card__content-info-title">Европа. XIX век</p>
              <p class="podcast-card__content-info-actor">Дмитрий Гутенберг</p>
            </div>
            <button class="btn-reset podcast-card__content-btn">
              <svg class="svg">
                <circle cx="24" cy="24" r="20" stroke="#A1A6B4" stroke-width="2"/>
                <path d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z" fill="#A1A6B4"/>
              </svg>
            </button>
          </div>
          <div class="podcast-card__content-bottom">
            <ul class="list-reset podcast-controls__list">
              <li class="podcast-controls__item">
                <button class="btn-reset podcast-controls__btn">
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#play-control"></use>
                  </svg>
                </button>
                <span class="podcast-controls__info">258</span>
              </li>
              <li class="podcast-controls__item">
                <button class="btn-reset podcast-controls__btn">
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#like"></use>
                  </svg>
                </button>
                <span class="podcast-controls__info">104</span>
              </li>
              <li class="podcast-controls__item">
                <button class="btn-reset podcast-controls__btn">
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#share"></use>
                  </svg>
                </button>
                <span class="podcast-controls__info">68</span>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="podcasts__grid-item podcast-card">
        <span class="podcast-card__date">14 июня</span>
        <div class="podcast-card__img">
          <picture>
            <source srcset="img/pod-1.webp" type="image/webp">
            <img loading="lazy" src="img/pod-1.jpg" class="image" width="112" height="140" alt="фото подкаста 1">
          </picture>
        </div>
        <div class="podcast-card__content">
          <div class="podcast-card__content-top">
            <div class="podcast-card__content-info">
              <p class="podcast-card__content-info-time">15:43</p>
              <p class="podcast-card__content-info-title">Европа. XIX век</p>
              <p class="podcast-card__content-info-actor">Дмитрий Гутенберг</p>
            </div>
            <button class="btn-reset podcast-card__content-btn">
              <svg class="svg">
                <circle cx="24" cy="24" r="20" stroke="#A1A6B4" stroke-width="2"/>
                <path d="M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z" fill="#A1A6B4"/>
              </svg>
            </button>
          </div>
          <div class="podcast-card__content-bottom">
            <ul class="list-reset podcast-controls__list">
              <li class="podcast-controls__item">
                <button class="btn-reset podcast-controls__btn">
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#play-control"></use>
                  </svg>
                </button>
                <span class="podcast-controls__info">258</span>
              </li>
              <li class="podcast-controls__item">
                <button class="btn-reset podcast-controls__btn">
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#like"></use>
                  </svg>
                </button>
                <span class="podcast-controls__info">104</span>
              </li>
              <li class="podcast-controls__item">
                <button class="btn-reset podcast-controls__btn">
                  <svg class="svg">
                    <use xlink:href="img/sprite.svg#share"></use>
                  </svg>
                </button>
                <span class="podcast-controls__info">68</span>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <button class="btn-reset podcasts__btn">Ещё подкасты</button>
  </div>
</section>
