<section id="shows" class="shows">
  <div class="container shows__grid-container">
    <form action="#" class="shows__grid-form">
      <h2 class="shows__title">Передачи</h2>
      <p class="shows__grid-form-selector-title">Автор:</p>
      <select name="actor" class="shows__grid-form-select">
        <option value="D.Gutenburg">Дмитрий Гутенберг</option>
      </select>
    </form>

    <div class="shows__grid-info">
      <div class="shows__grid-info-img">
        <picture>
          <source srcset="img/show-mic.webp" type="image/webp">
          <img loading="lazy" src="img/show-mic.png" class="image" width="65" height="89" alt="изображение микрофона">
        </picture>
      </div>
      <button class="btn-reset shows__grid-info-btn">Архив</button>
      <p class="shows__grid-info-text">В архив попадают все передачи, которые вы пропустили! Enjoy:)</p>
    </div>

    <ul class="list-reset shows__grid-content">
      <li class="shows-cart">
        <div class="shows-cart__img">
          <picture>
            <source srcset="img/show-img-1.webp" type="image/webp">
            <img loading="lazy" src="img/show-img-1.jpg" class="image" width="255" height="148" alt="изображение передачи 1">
          </picture>
        </div>
        <div class="shows-cart__content">
          <p class="shows-cart__content-title">О людях и книгах</p>
          <p class="shows-cart__content-subtitle">По понедельникам в 10:00</p>
          <button class="btn-reset shows-cart__content-btn">
            Подробнее
            <svg class="svg">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="shows-cart">
        <div class="shows-cart__img">
          <picture>
            <source srcset="img/show-img-1.webp" type="image/webp">
            <img loading="lazy" src="img/show-img-1.jpg" class="image" width="255" height="148" alt="изображение передачи 1">
          </picture>
        </div>
        <div class="shows-cart__content">
          <p class="shows-cart__content-title">О людях и книгах</p>
          <p class="shows-cart__content-subtitle">По понедельникам в 10:00</p>
          <button class="btn-reset shows-cart__content-btn">
            Подробнее
            <svg class="svg">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="shows-cart">
        <div class="shows-cart__img">
          <picture>
            <source srcset="img/show-img-1.webp" type="image/webp">
            <img loading="lazy" src="img/show-img-1.jpg" class="image" width="255" height="148" alt="изображение передачи 1">
          </picture>
        </div>
        <div class="shows-cart__content">
          <p class="shows-cart__content-title">О людях и книгах</p>
          <p class="shows-cart__content-subtitle">По понедельникам в 10:00</p>
          <button class="btn-reset shows-cart__content-btn">
            Подробнее
            <svg class="svg">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="shows-cart">
        <div class="shows-cart__img">
          <picture>
            <source srcset="img/show-img-1.webp" type="image/webp">
            <img loading="lazy" src="img/show-img-1.jpg" class="image" width="255" height="148" alt="изображение передачи 1">
          </picture>
        </div>
        <div class="shows-cart__content">
          <p class="shows-cart__content-title">О людях и книгах</p>
          <p class="shows-cart__content-subtitle">По понедельникам в 10:00</p>
          <button class="btn-reset shows-cart__content-btn">
            Подробнее
            <svg class="svg">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="shows-cart">
        <div class="shows-cart__img">
          <picture>
            <source srcset="img/show-img-1.webp" type="image/webp">
            <img loading="lazy" src="img/show-img-1.jpg" class="image" width="255" height="148" alt="изображение передачи 1">
          </picture>
        </div>
        <div class="shows-cart__content">
          <p class="shows-cart__content-title">О людях и книгах</p>
          <p class="shows-cart__content-subtitle">По понедельникам в 10:00</p>
          <button class="btn-reset shows-cart__content-btn">
            Подробнее
            <svg class="svg">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
